{% extends 'base.html.twig' %}
    {% block nav %}
      <a href="/registration"><button class="reg_button">Регистрация</button></a>
    {% endblock %}

    {% block content %}
      {% if error %}
        <div class="alert alert-danger">Почта или пароль введены неверно</div>
      {% endif %}

      {% if app.user %}
        <div class="mb-3">
            Вы вошли как {{ app.user.username }}, <a href="{{ path('logout') }}">Выйти</a>
        </div>
      {% endif %}

      <div class="form_block">
        <h3 class="log_in_header">Вход</h3>
        <form id="login" action="{{ path('login')}}" method="POST">
          <input class="field" type="email" name="email" id="inputEmail" value="{{ last_email }}" placeholder="Почта" required autofocus> 
          <input class="field" type="password" name="password" id="inputPassword" placeholder="Пароль" required>  
          <input class="submit_button" type="submit" value="Войти">
          <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">    
        </form>
      </div>
    {% endblock %}
