{% extends 'base.html.twig' %}
    {% block script %}
      <script src="js/status.js" type="text/javascript" async> </script>
    {% endblock %}  
    {% block nav %}
    {% if not is_granted('IS_AUTHENTICATED_FULLY') %}
      <a href="/registration"><button class="reg_button">Регистрация</button></a>
      <a href="/login"><button class="login_button">Вход</button></a>
    {% endif %}
    {% if is_granted('ROLE_USER') %}  
      <a href="/logout"><button class="login_button">Выход</button></a>
    {% endif %}    
    {% endblock %}
    {% block content %}
      <div class="container-fluid">
        <ul class="nav">
          <li>
            <a class="menu active" data-toggle="tab" href="#menu">Меню</a>
          </li>
          <li>
            <a class="menu" data-toggle="tab" href="#orders">Заказы</a>
          </li>
        </ul>
      </div>
      <div class="tab-content">
        <div class="content_block tab-pane fade show active" id="menu">
          <div class="container-fluid">
            <div class="row">
              {% for pizza in pizzas %}
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 pizza_block">
                  <img class="pizza_image" src="images/pizza{{pizza.id}}.jpg">
                  <div>
                    <h2 class="pizza_name">{{pizza.name}}</h2>
                    <p class="about_pizza">{{pizza.about}}</p>
                    <p class="price_block">
                      <p class="price">от {{pizza.price}}р</p>
                      {% if not is_granted('IS_AUTHENTICATED_FULLY') %}
                        <a href="/login">
                          <button class="buy_button">
                            Купить 
                          </button>
                        </a>
                      {% endif %}
                      {% if is_granted('ROLE_USER') %}
                        <button id="buy{{pizza.id}}" class="buy_button">
                          Купить 
                        </button>
                      {% endif %} 
                    </p>
                  </div>
                </div>
              {% endfor %}             
            </div>
          </div>
        </div>
        <div class="orders_block tab-pane fade" id="orders">
          <table class="order_table">
            <tr class="table_header">
              <th class="order_number" width="188">Номер</th>
              <td width="210">Меню</td>
              <td width="100">Цена</td>
              <td width="210">Клиент</td>
              <td width="270">Адрес</td>
              <td class="last_col" width="300">Статус</td>
            </tr>
            {% for order in orders %}
              <tr>
                <td class="order_number">#{{order.id}}</td>
                <td>{{order.pizza}}</td>
                <td>{{order.price}}р</td>
                <td>{{order.name}}</td>
                <td>{{order.address}}</td>
                {% if is_granted('ROLE_ADMIN') %}
                  <td> 
                    <select onchange="selectStatus({{order.id}})" class="status" id="status{{order.id}}">
                      <option {% if order.status == 'Принято' %} selected {% endif %} value="Принято">Принято</option>
                      <option {% if order.status == 'Готовится' %} selected {% endif %} value="Готовится">Готовится</option>
                      <option {% if order.status == 'В пути' %} selected {% endif %} value="В пути">В пути</option>
                      <option {% if order.status == 'Доставлено' %} selected {% endif %} value="Доставлено">Доставлено</option>
                    </select>
                  </td>
                {% else %}
                  <td>{{order.status}}</td>
                {% endif %}  
              </tr>
            {% endfor %}
          </table>
        </div>
      </div>
    {% endblock %}  